.navbar-brand p{
    color:white;
}
#navbarDropdown{
    color:white;
}
.breadcrumb-item > a{
    color:grey;
}
.breadcrumb >.active a {
    color: #3490dc;
}

#login{
    color:white;
}

#register{
    color:white;
}

/*welcome page css*/
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    color:black;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
